[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mlflow = "*"
pandas = "*"
scikit-learn = "*"
numpy = "*"
xgboost = "*"
scipy = "*"
shap = "*"

[dev-packages]

[requires]
python_version = "3.9"
